<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="container">
      <header>
        <a href=""><h1><%= htmlWebpackPlugin.options.title %></h1></a>
      </header>
      <nav-bar></nav-bar>
      <main>
        <trending-lirik></trending-lirik>
      </main>
      <back-top></back-top>
    </div>
  </body>
</html>
